<a href="https://colab.research.google.com/github/seo03/DL23/blob/main/dl230503.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Digital Literacy Midterm Spring 2023 (5/3, Wednesday)**

There are two parts:

ðŸŒ€**Part I: Coding in Colab (20 questions, 30 points): max 40 mins**

+ Q1~10 (1 point each * 10 = 10)
+ Q11~Q20 (2 points each * 10 = 20)


ðŸŒ€**Part II: Google Form (30 questions, 30 points)**

Total 50 minutes are allowed.

---
##**Instructions**

When times up (max 40 mins), save this copy as a pdf file (to upload) AND to your github repository with the following file name format:


## ðŸ“Œ Files: 
##**1) dl230503_yourid.pdf**
##**2) dl230503_yourid.ipynb**
---

# ðŸŒ€**Part I: Coding in Colab (20 questions, 30 points): max 40 mins**

In [1]:
yourname = input("Type your name here: ")

Type your name here: Daeun Seo

##Q1. Create a list called fruits and add three of your favorite fruits to it. Then, print the list.

In [49]:
fruits = "apple, orange, strawberry"
list

TypeError: ignored

##Q2. Create a variable called **_name_** and ask the user to enter their name. Then, print a message that says "Hello, [name]!".

In [19]:
name = input("Type your favorite fruits: ")

print("Hello" + "," + " " + name + "!")

Type your favorite fruits: apple, orange, strawberry
Hello, apple, orange, strawberry!

##Q3. Create a variable called **_age_** and ask the user to enter their age. Then, print a message that says "You are [age] years old".

In [28]:
age = input("Type your age: ")
print("You are" + " " + age + " " + "years old.")

Type your age: 21
You are 21 years old.

##Q4. Create a dictionary called **_person_** with keys name, age, and ID. Set the values to your own name, age, and address. Then, print the dictionary.

##Q5. Create a variable called **_num1_** and set it to 5. Create another variable called **_num2_** and set it to 10. Add num1 and num2 together and print the result.

In [29]:
num1 = 5
num2 = 10

print(num1 + num2)

15

##Q6. Create a variable called **_num3_** and set it to 3. Create another variable called **_num4_** and set it to 2. Divide num3 by num4 and print the result.

In [30]:
num3 = 3
num4 = 2

print(num3/num4)

1.5

##Q7. Create a variable called **_sentence_** and set it to "The quick brown fox jumps over the lazy dog". Use the **split()** function to split the sentence into a list of words. Then, print the list.

In [43]:
sentence =  "The quick brown fox jumps over the lazy dog."
list = sentence.split()
list

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

##Q8. Create a list called **_colors_** and add three of your favorite colors to it. Use the **join()** function to join the list into a string separated by commas. Then, print the string.

In [52]:
colors = red, green, blue
list = colors
join(,)
print(string)

SyntaxError: ignored

##Q9. Create a variable called **_number_** and set it to 5. Use the **str()** function to convert the number to a string. Then, print number + 7

In [54]:
number = 5
str(number)

print(number + 7)

12

##Q10. Create a variable called **_my_string_** and set it to "Hello, world!". Use the index() function to find the index of the letter "w" in the string. Then, print the index.

In [58]:
a = my_string = "Hello, world!"
a1 = index(a[6])
print(a1)

NameError: ignored

##Q11. Create a variable called **_my_list_** and set it to [1, 2, 3, 4, 5]. Use the len() function to find the length of the list. Then, print the length.

In [59]:
b = my_list = [1, 2, 3, 4, 5]
b1 = len(b)
print(b1)

5

##Q12. Create a variable called **_my_string_** and set it to "Hello, world!". Use slicing to print the first 5 characters of the string.

In [61]:
c = my_string = "Hello, world!"
c1 = slice(c)
print(c1)

slice(None, 'Hello, world!', None)

##Q13. Create a list called **_numbers_**. Using the random.randint() function, add five random integers to it. Then, print the list. 

**Note:** You should not write the random number on your own. The code should take the random number and add it to your list.

In [65]:
numbers = 1, 3, 5, 7, 9
d = random.randint(numbers)
print(d)

NameError: ignored

##Q14. [1] Create a list of your favorite colors called **color_list** with at least three colors. [2] Use a **for loop** to iterate through the list and print each color.

In [67]:
color_list = [red, blue, green]

for red in green:

SyntaxError: ignored

## Q15. Create a list of your favorite foods called **food_list** with at least three foods. Use a **for loop** to iterate through the list and print each food in uppercase letters.

In [83]:
food_list = []

for

SyntaxError: ignored

##Q16.Create a list of your favorite animals called **animal_list** with at least three animals. Use a **for loop** to iterate through the list and print each animal, along with a message saying "I love [animal]!"

In [68]:
x = animal_list = [dog, cat, rabbit]

for dog in rabbit:
  print(I love + " " + x + "!")

SyntaxError: ignored

##Q17. The following code should create a list of numbers from 1 to 5 and print the sum of the numbers, but there is an error. Identify and fix the error so that the code runs with no error.

In [69]:
my_list = [1, 2, 3, 4, 5]
total = str(sum(my_list))
print("The sum is: " + total)

The sum is: 15

##Q18. The following code should create a dictionary of fruit names and their corresponding colors, and then print the color of the fruit "banana", but there is an error. Identify and fix the error so that the code runs with no error.

In [70]:
fruit_dict = {'apple': 'red', 'banana': 'yellow', 'orange': 'orange'}
print(fruit_dict['banana'])

yellow

## Q19. Read the code below and identify the error. Then, fix the error so that the program outputs the fourth item (i.e., 'grape') in the list.

In [71]:
fruit = ["apple", "banana", "orange", "grape"]
print(fruit[3])

grape

##Q19. The following code should create a string containing the words "apple", "banana", and "orange" separated by commas. Split the string into a list of the individual words, so that the output becomes ["apple", "banana", "orange"] and not ["apple,banana,orange"].

In [73]:
my_string = '"apple", "banana", "orange"'
my_list = my_string.split(" ")
print(my_string)

"apple", "banana", "orange"

##Q20. Create a language application that changes a declarative sentence to an imperative sentence. Test the app with the following sentences: 

1. "You take your seat." > (output) Take your seat!
2. "You bring your book." > (output) Bring your book!

+ Step1. Start with the first sentence, and add code lines in order to get the output ('Take your seat!')
+ Step2. Make another code cell and make a user interactive app using input(). Here you should be able to get the output of the second sentence when the user type the second sentence.

In [77]:
s = "You take your seat."
print("'Take your seat!'")

'Take your seat!'

In [82]:
s = input()
print(s)

Bring your book!
Bring your book!

---
# ðŸ“ŒSubmission: 2 submissions

[1] pdf submission (File > Print > pdf print), save pdf on the desktop, get it ready to upload your file to the google form below. 
+ File name: dl230503_yourid.pdf

[2] Save this file in your github repository. 
+ File name: dl230503_yourid.ipynb

# ðŸŒ€ **Part II: Using a Google form (30 questions, 30 points)**

[Click here to start](https://forms.gle/eidnsEzd4VkRXC4i7)